<% include partials/header %>
<h1>This is the new campground form</h1>
<form action="/campgrounds" method="POST">
    <input type="text" name="name" id="" placeholder="name">
    <input type="text" name="image" id="" placeholder="image url">
    <button type="submit">Submit!</button>
</form>
<a class="btn btn-primary btn-lg" href="/campgrounds">Back</a>
<% include partials/footer %>