<% include partials/header %>
<p><%= searchedCampground.name %></p>
<img src="<%= searchedCampground.image %>" alt="Campground image">
<p><%= searchedCampground.description%></p>

<% include partials/footer %>