body {
    font-family: 'Raleway', sans-serif;
}

.campform {
    width: 40%;
    margin: 25px auto;
}

.container {
    margin-top: 25px;
}

.container h2 {
    text-align: center;
}

.card {
    margin-top: 20px;
    background: whitesmoke;
}
.img-thumbnail img{
    width: 100%;
}
.img-thumbnail{
    padding: 0;
}
.img-thumbnail .caption{
    padding: 10px;
}
.delete_icon {
    margin-left: 10px;
}
