<% include ../partials/header %>
<div class="container">
    <h2>Update your review</h2>
    <div class="campform">
        <form action="/campgrounds/<%= campground_id %>/reviews/<%=review._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <% console.log(review.rating) %>
               <% if(review.rating === 5) { %>
                <div class="rate">
                    <input type="radio" id="star5" name="rating" value="5" checked/>
                    <label for="star5" title="5 star">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" checked/>
                    <label for="star4" title="4 star">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" checked/>
                    <label for="star3" title="3 star">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" checked/>
                    <label for="star2" title="2 star">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" checked/>
                    <label for="star1" title="1 star">1 star</label>

                </div>
            <%}%>
            <% if(review.rating === 4) { %>
                <div class="rate">
                    <input type="radio" id="star5" name="rating" value="5"/>
                    <label for="star5" title="5 star">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" checked/>
                    <label for="star4" title="4 star">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" checked/>
                    <label for="star3" title="3 star">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" checked/>
                    <label for="star2" title="2 star">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" checked/>
                    <label for="star1" title="1 star">1 star</label>

                </div>
            <%}%>
            <% if(review.rating === 3) { %>
                <div class="rate">
                    <input type="radio" id="star5" name="rating" value="5"/>
                    <label for="star5" title="5 star">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4"/>
                    <label for="star4" title="4 star">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" checked/>
                    <label for="star3" title="3 star">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" checked/>
                    <label for="star2" title="2 star">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" checked/>
                    <label for="star1" title="1 star">1 star</label>

                </div>
            <%}%>
            <% if(review.rating === 2) { %>
                <div class="rate">
                    <input type="radio" id="star5" name="rating" value="5"/>
                    <label for="star5" title="5 star">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4"/>
                    <label for="star4" title="4 star">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3"/>
                    <label for="star3" title="3 star">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" checked/>
                    <label for="star2" title="2 star">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" checked/>
                    <label for="star1" title="1 star">1 star</label>

                </div>
            <%}%>
            <% if(review.rating === 1) { %>
                <div class="rate">
                    <input type="radio" id="star5" name="rating" value="5"/>
                    <label for="star5" title="5 star">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4"/>
                    <label for="star4" title="4 star">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3"/>
                    <label for="star3" title="3 star">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2"/>
                    <label for="star2" title="2 star">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" checked/>
                    <label for="star1" title="1 star">1 star</label>

                </div>
            <%}%>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="text" id="" placeholder="Review"><%= review.text %></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit Review</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground_id %>">Back</a>
    </div>
</div>
<% include ../partials/footer %>